.homePageWrapper{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    background-color: rgb(13, 13, 38);
}

.mainContainer {
    width: 100%;
    padding: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    padding: 2rem 0.1rem 2rem 0.1rem;
}

.profileAvatar {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    max-width: 7rem;
    aspect-ratio: 1 / 1;

    /* margin*/
    margin-left: 0.1rem;
    margin-right: 1rem;
}

.profileTextContainer {
    flex-direction: column;
}

.profileName {
    font-size: 1.8rem;
} 

.profileJobTitle {
    font-size: 1.2rem;
}

.aboutMeSection{
    display: flex;
    flex-direction: column;
}

.aboutMeTitle {
    font-size: 1.8rem;
    padding: 1rem 0rem 1rem 0rem;
}

.aboutMeText {
    font-size: 1.1rem;
    text-align: justify;
}


@media (min-width: 768px) {
    .mainContainer {
        max-width: 60%;
        padding: 0.5rem;
    }

    .profile {
        padding: 2rem 0.5rem 2rem 0.5rem;
    }

    .profileAvatar {
        max-width: 8rem;

        /* margin*/
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .profileName {
        font-size: 2.5rem;
    } 

    .profileJobTitle {
        font-size: 1.25rem;
    }
}